<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pwd_update</servlet-name>
    <servlet-class>servlet.Serverpwd_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwd_update</servlet-name>
    <url-pattern>/mpwdup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAll</servlet-name>
    <servlet-class>servlet_stu.ServletAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAll</servlet-name>
    <url-pattern>/stuinfoall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TServerAll</servlet-name>
    <servlet-class>servlet_tea.TServerAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TServerAll</servlet-name>
    <url-pattern>/teainfoall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet_couAll</servlet-name>
    <servlet-class>servlet_cou.Servlet_couAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_couAll</servlet-name>
    <url-pattern>/couall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoServletAll</servlet-name>
    <servlet-class>servlet_sco.ScoServletAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoServletAll</servlet-name>
    <url-pattern>/scoall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>servlet_stu.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/selStuone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TServerone</servlet-name>
    <servlet-class>servlet_tea.TServerone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TServerone</servlet-name>
    <url-pattern>/tselectone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoServletOne</servlet-name>
    <servlet-class>servlet_sco.ScoServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoServletOne</servlet-name>
    <url-pattern>/scoone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStuSco</servlet-name>
    <servlet-class>servlet_stu.ServletStuSco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStuSco</servlet-name>
    <url-pattern>/stusco</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TServerStuSco</servlet-name>
    <servlet-class>servlet_tea.TServerStuSco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TServerStuSco</servlet-name>
    <url-pattern>/teasco</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStuAdd</servlet-name>
    <servlet-class>servlet_stu.ServletStuAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStuAdd</servlet-name>
    <url-pattern>/stuadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNewAdd</servlet-name>
    <servlet-class>servlet_stu.ServletNewAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNewAdd</servlet-name>
    <url-pattern>/checkNewId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherAdd</servlet-name>
    <servlet-class>servlet_tea.TServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAdd</servlet-name>
    <url-pattern>/teaadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaddId</servlet-name>
    <servlet-class>servlet_tea.TServletAddId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaddId</servlet-name>
    <url-pattern>/checkNewTId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>couAdd</servlet-name>
    <servlet-class>servlet_cou.SerCouAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>couAdd</servlet-name>
    <url-pattern>/couadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkCouId</servlet-name>
    <servlet-class>servlet_cou.SerCheckId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCouId</servlet-name>
    <url-pattern>/checkNewCouId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scoreAdd</servlet-name>
    <servlet-class>servlet_sco.ScoServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreAdd</servlet-name>
    <url-pattern>/scoadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuDelete</servlet-name>
    <servlet-class>servlet_stu.ServletStuDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuDelete</servlet-name>
    <url-pattern>/studelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaDelete</servlet-name>
    <servlet-class>servlet_tea.TServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaDelete</servlet-name>
    <url-pattern>/teadelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouDelete</servlet-name>
    <servlet-class>servlet_cou.SerCouDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouDelete</servlet-name>
    <url-pattern>/coudelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoDelete</servlet-name>
    <servlet-class>servlet_sco.ScoServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoDelete</servlet-name>
    <url-pattern>/scodelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuUpdate</servlet-name>
    <servlet-class>servlet_stu.ServletStuUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuUpdate</servlet-name>
    <url-pattern>/stuupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeforeUpdate</servlet-name>
    <servlet-class>servlet_stu.Servletsxupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeUpdate</servlet-name>
    <url-pattern>/sxupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaUpdate</servlet-name>
    <servlet-class>servlet_tea.TServerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaUpdate</servlet-name>
    <url-pattern>/teaupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaUpdateBefore</servlet-name>
    <servlet-class>servlet_tea.TServerUpbefore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaUpdateBefore</servlet-name>
    <url-pattern>/tupdatebefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouUpdate</servlet-name>
    <servlet-class>servlet_cou.SerCouUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouUpdate</servlet-name>
    <url-pattern>/cupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouUpdateBefore</servlet-name>
    <servlet-class>servlet_cou.SerCouUpBefore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouUpdateBefore</servlet-name>
    <url-pattern>/couUpbefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaUpdateStuScore</servlet-name>
    <servlet-class>servlet_sco.TUpdateScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaUpdateStuScore</servlet-name>
    <url-pattern>/tUpdateStuScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaUpdateStuScoreBefore</servlet-name>
    <servlet-class>servlet_sco.TUpdateBeforeScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaUpdateStuScoreBefore</servlet-name>
    <url-pattern>/tUpStuBeforeSco</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuScoInfoFenye1</servlet-name>
    <servlet-class>servlet_sco.ScoSerFenye1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuScoInfoFenye1</servlet-name>
    <url-pattern>/fenye1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>servlet.ServletUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFileLoad</servlet-name>
    <servlet-class>servlet.ServletListFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileLoad</servlet-name>
    <url-pattern>/listfileload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downfileLoad</servlet-name>
    <servlet-class>servlet.ServleDownFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downfileLoad</servlet-name>
    <url-pattern>/downLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scoreAvg</servlet-name>
    <servlet-class>servlet_sco.ScoBanjiAvg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreAvg</servlet-name>
    <url-pattern>/scoreavg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pageoutExcel</servlet-name>
    <servlet-class>servlet.SerDataToExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageoutExcel</servlet-name>
    <url-pattern>/pageoutExcel</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  <filter>
    <filter-name>filter01</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>filter01</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>filter02</filter-name>
    <filter-class>filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter02</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>